node_modules
.git
/dist
/build
/coverage
.vscode
package.json
package-lock.json

/client-side/*/build
/client-side/*/dist
/client-side/*/.cache
/client-side/*/public
/client-side/*/.webpack-bundle-analyzer

_graphql-generated_
*._graphql-generated_.ts

# Temporary files
/_tmp
