@import 'variables';
@import 'breakpoints-mixins';

.header__backdrop {
  z-index: $zindex-sticky - 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
