@each $color, $_ in $theme-colors {
  .card.card-#{$color} {
    border-color: set-contrasting-color-alpha($color, 0.3);

    $background-color: set-contrasting-color-alpha($color, 0.2);

    background: linear-gradient($background-color, $background-color),
      linear-gradient($lightest, $lightest);

    @include on-inverted-color-scheme {
      border-color: set-contrasting-color-alpha($color, 0.5);

      $background-color-inverted: set-contrasting-color-alpha($color, 0.3);

      background: linear-gradient(
          $background-color-inverted,
          $background-color-inverted
        ),
        linear-gradient($darkest, $darkest);
    }
  }
}
