@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $index, $value in $spacers {
      .row.gutters#{$infix}-#{$index}:not(.no-gutters) {
        margin-left: calc(-#{$value} / 2);
        margin-right: calc(-#{$value} / 2);

        margin-bottom: -$value;

        > col,
        > [class*='col-'] {
          padding-bottom: $value;
        }
      }
    }
  }
}
