@import 'variables';

.text-link {
  color: $link-color;
  text-decoration: $link-decoration;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

.text-highlight {
  text-decoration: underline !important;
}
