a:not(.btn).disabled,
.text-link.disabled {
  pointer-events: none;
  color: set-contrasting-color-alpha('body', $text-muted-opacity);
}

.text-link {
  color: $link-color;
  text-decoration: $link-decoration;
  cursor: pointer;

  @include hover-focus() {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

@each $color, $value in $theme-colors {
  .text-link.text-#{$color} {
    &:hover {
      color: get-contrasting-color('#{$color}-hover') !important;
    }
    &:focus {
      color: get-contrasting-color('#{$color}-hover') !important;
    }
  }
}
