@import 'variables';

.with-dark-contrasting-colors {
  @include attach-map-of-contrasting-colors($dark-contrasting-colors);
  color: get-contrasting-color('body');
}

.with-light-contrasting-colors {
  @include attach-map-of-contrasting-colors($light-contrasting-colors);
  color: get-contrasting-color('body');
}

.attach-dark-contrasting-colors {
  @include attach-map-of-contrasting-colors($dark-contrasting-colors);
}

.attach-light-contrasting-colors {
  @include attach-map-of-contrasting-colors($light-contrasting-colors);
}
