@import 'src/components/ui-kit/global-styles/load';

.navbar {
  .navbar-nav {
    .navbar-nav-divider {
      border-color: $hr-border-color;
      border-style: solid;

      border-right: none;
      border-bottom: none;

      border-left-width: 0;
      border-top-width: $hr-border-width;

      width: 100%;
      height: 0;

      align-self: center;
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  .navbar.navbar-expand#{$infix} {
    .navbar-nav {
      @include media-breakpoint-up($breakpoint) {
        .navbar-nav-divider {
          border-top-width: 0;
          border-left-width: $hr-border-width;

          height: 1.5rem;
          width: 0;

          margin: -5px 13px;
        }
      }
    }
  }
}
