@import 'variables';

.selectable,
.link-unstyled.selectable {
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $hovered-bg;
  }

  &:active {
    background-color: $selected-bg;
  }
}
