@import 'src/components/ui-kit/global-styles/variables';
@import 'src/components/ui-kit/global-styles/_load-all-functions-and-mixins';

.spinner-border,
.spinner-grow {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      &.spinner#{$infix}-sm {
        width: $spinner-width-sm;
        height: $spinner-height-sm;
      }
      &.spinner#{$infix}-md {
        width: $spinner-width;
        height: $spinner-height;
      }
      &.spinner#{$infix}-lg {
        width: $spinner-width-lg;
        height: $spinner-height-lg;
      }
      &.spinner-inherit {
        width: 1em;
        height: 1em;
      }
    }
  }
}

/*
  Set spinner-border border width depending on its size
*/
.spinner-border {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      &.spinner#{$infix}-sm {
        border-width: $spinner-border-width-sm;
      }
      &.spinner#{$infix}-md {
        border-width: $spinner-border-width;
      }
      &.spinner#{$infix}-lg {
        border-width: $spinner-border-width-lg;
      }
      &.spinner-inherit {
        border-width: 0.2em;
      }
    }
  }
}
/* --- */
