.cursor-pointer {
  cursor: pointer !important;
}

.cursor-default {
  cursor: default !important;
}

.cursor-wait {
  cursor: wait !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}
