@each $color, $value in $theme-colors {
  .shadow-#{$color} {
    &.shadow-sm {
      box-shadow: #{$box-shadow-sm-dimensions} rgba($value, 0.2) !important;
    }
    &.shadow {
      box-shadow: #{$box-shadow-dimensions} rgba($value, 0.2) !important;
    }
    &.shadow-lg {
      box-shadow: #{$box-shadow-lg-dimensions} rgba($value, 0.3) !important;
    }
  }
}

.drop-shadow-sm {
  filter: drop-shadow(
    #{$box-shadow-sm-dimensions} rgba(0, 0, 0, 0.5)
  ) !important;
}

.drop-shadow {
  filter: drop-shadow(#{$box-shadow-dimensions} rgba(0, 0, 0, 0.5)) !important;
}

.drop-shadow-lg {
  filter: drop-shadow(
    #{$box-shadow-lg-dimensions} rgba(0, 0, 0, 0.5)
  ) !important;
}

@each $color, $value in $theme-colors {
  .drop-shadow-#{$color} {
    &.drop-shadow-sm {
      filter: drop-shadow(
        #{$box-shadow-sm-dimensions} #{set-contrasting-color-alpha($color, 0.5)}
      ) !important;
    }
    &.drop-shadow {
      filter: drop-shadow(
        #{$box-shadow-dimensions} #{set-contrasting-color-alpha($color, 0.5)}
      ) !important;
    }
    &.drop-shadow-lg {
      filter: drop-shadow(
        #{$box-shadow-lg-dimensions} #{set-contrasting-color-alpha($color, 0.5)}
      ) !important;
    }
  }
}
