@import 'variables';

.text-shadow-sm {
  text-shadow: #{$text-shadow-sm-dimensions} set-contrasting-color-alpha('body', $text-shadow-sm-opacity) !important;
}
.text-shadow {
  text-shadow: #{$text-shadow-dimensions} set-contrasting-color-alpha('body', $text-shadow-opacity) !important;
}
.text-shadow-lg {
  text-shadow: #{$text-shadow-lg-dimensions} set-contrasting-color-alpha('body', $text-shadow-lg-opacity) !important;
}
/* ----- */

/*
  Colored shadows should change in order to contrast with the surrounding color
*/
@each $color, $value in $theme-colors {
  @if (saturation($value) > 50%) {
    .text-shadow-#{$color} {
      &.text-shadow-sm {
        text-shadow: #{$text-shadow-sm-dimensions}
            set-contrasting-color-alpha($color, $text-shadow-sm-opacity),
          #{$text-shadow-sm-dimensions}
            set-contrasting-color-alpha(
              $color,
              $text-shadow-sm-opacity
            ) !important;
      }
      &.text-shadow {
        text-shadow: #{$text-shadow-dimensions}
            set-contrasting-color-alpha($color, $text-shadow-opacity),
          #{$text-shadow-dimensions}
            set-contrasting-color-alpha(
              $color,
              $text-shadow-opacity
            ) !important;
      }
      &.text-shadow-lg {
        text-shadow: #{$text-shadow-lg-dimensions}
            set-contrasting-color-alpha($color, $text-shadow-lg-opacity),
          #{$text-shadow-lg-dimensions}
            set-contrasting-color-alpha(
              $color,
              $text-shadow-lg-opacity
            ) !important;
      }
    }
  } @else {
    .text-shadow-#{$color} {
      &.text-shadow-sm {
        text-shadow: #{$text-shadow-sm-dimensions}
          set-contrasting-color-alpha(
            $color,
            $text-shadow-sm-opacity
          ) !important;
      }
      &.text-shadow {
        text-shadow: #{$text-shadow-dimensions}
          set-contrasting-color-alpha($color, $text-shadow-opacity) !important;
      }
      &.text-shadow-lg {
        text-shadow: #{$text-shadow-lg-dimensions}
          set-contrasting-color-alpha(
            $color,
            $text-shadow-lg-opacity
          ) !important;
      }
    }
  }
}
/* ----- */
