.card {
  border-color: set-contrasting-color-alpha(body, 0.2);

  @include with-contrasting-colors($card-bg);

  @include on-inverted-color-scheme {
    border-color: set-contrasting-color-alpha(body, 0.5);

    @include with-contrasting-colors($body-bg-inverted);
    background-color: $body-bg-inverted;
  }
}

.card-subtitle {
  color: $text-muted;

  margin-bottom: map-get($spacers, 3);
}
