.custom-select {
  @include form-validation-state-selector('valid') {
    border-color: get-contrasting-color('success');

    &:focus {
      border-color: get-contrasting-color('success');
      box-shadow: 0 0 0 $input-focus-width
        set-contrasting-color-alpha('success', 0.25);
    }
  }

  @include form-validation-state-selector('invalid') {
    border-color: get-contrasting-color('danger');

    &:focus {
      border-color: get-contrasting-color('danger');
      box-shadow: 0 0 0 $input-focus-width
        set-contrasting-color-alpha('danger', 0.25);
    }
  }
}

.custom-control-input {
  @include form-validation-state-selector('valid') {
    ~ .custom-control-label {
      color: get-contrasting-color('success');

      &::before {
        border-color: get-contrasting-color('success');
      }
    }

    &:checked {
      ~ .custom-control-label::before {
        border-color: get-contrasting-color('success');
        @include gradient-bg(get-contrasting-color('success'));
      }
    }

    &:focus {
      ~ .custom-control-label::before {
        box-shadow: 0 0 0 $input-focus-width
          set-contrasting-color-alpha('success', 0.25);
      }

      &:not(:checked) ~ .custom-control-label::before {
        border-color: get-contrasting-color('success');
      }
    }
  }

  @include form-validation-state-selector('invalid') {
    ~ .custom-control-label {
      color: get-contrasting-color('danger');

      &::before {
        border-color: get-contrasting-color('danger');
      }
    }

    &:checked {
      ~ .custom-control-label::before {
        border-color: get-contrasting-color('danger');
        @include gradient-bg(get-contrasting-color('danger'));
      }
    }

    &:focus {
      ~ .custom-control-label::before {
        box-shadow: 0 0 0 $input-focus-width
          set-contrasting-color-alpha('danger', 0.25);
      }

      &:not(:checked) ~ .custom-control-label::before {
        border-color: get-contrasting-color('danger');
      }
    }
  }
}

.custom-file-input {
  @include form-validation-state-selector('valid') {
    ~ .custom-file-label {
      border-color: get-contrasting-color('success');
    }

    &:focus {
      ~ .custom-file-label {
        border-color: get-contrasting-color('success');
        box-shadow: 0 0 0 $input-focus-width
          set-contrasting-color-alpha('success', 0.25);
      }
    }
  }

  @include form-validation-state-selector('invalid') {
    ~ .custom-file-label {
      border-color: get-contrasting-color('danger');
    }

    &:focus {
      ~ .custom-file-label {
        border-color: get-contrasting-color('danger');
        box-shadow: 0 0 0 $input-focus-width
          set-contrasting-color-alpha('danger', 0.25);
      }
    }
  }
}
