.valid-feedback {
  color: get-contrasting-color('success');
}

.invalid-feedback {
  color: get-contrasting-color('danger');
}

.form-control {
  @include with-contrasting-colors($input-bg);

  &:focus {
    @include with-contrasting-colors($input-bg);
  }

  &:disabled {
    @include with-contrasting-colors($form-select-disabled-bg);
    color: set-contrasting-color-alpha('body', $text-muted-opacity);
  }

  @include form-validation-state-selector('valid') {
    border-color: get-contrasting-color('success');

    &:focus {
      border-color: get-contrasting-color('success');
      box-shadow: 0 0 0 $input-focus-width
        set-contrasting-color-alpha('success', 0.25);
    }
  }

  @include form-validation-state-selector('invalid') {
    border-color: get-contrasting-color('danger');

    &:focus {
      border-color: get-contrasting-color('danger');
      box-shadow: 0 0 0 $input-focus-width
        set-contrasting-color-alpha('danger', 0.25);
    }
  }

  &[readonly] {
    @include with-contrasting-colors($input-disabled-bg);
  }
}

.form-select {
  @include with-contrasting-colors($form-select-bg);

  &:focus {
    @include with-contrasting-colors($input-bg);
  }

  &:disabled {
    @include with-contrasting-colors($form-select-disabled-bg);
    color: set-contrasting-color-alpha('body', $text-muted-opacity);
  }

  @include form-validation-state-selector('valid') {
    border-color: get-contrasting-color('success');

    &:focus {
      border-color: get-contrasting-color('success');
      box-shadow: 0 0 0 $input-focus-width
        set-contrasting-color-alpha('success', 0.25);
    }
  }

  @include form-validation-state-selector('invalid') {
    border-color: get-contrasting-color('danger');

    &:focus {
      border-color: get-contrasting-color('danger');
      box-shadow: 0 0 0 $input-focus-width
        set-contrasting-color-alpha('danger', 0.25);
    }
  }
}

.form-check-input {
  @include form-validation-state-selector('valid') {
    border-color: get-contrasting-color('success');

    ~ .form-check-label {
      color: get-contrasting-color('success');
    }

    &:checked {
      border-color: get-contrasting-color('success');
      background-color: get-contrasting-color('success');
    }

    &:focus {
      box-shadow: 0 0 0 $input-focus-width
        set-contrasting-color-alpha('success', 0.25);
    }

    &:not(:checked) {
      border-color: get-contrasting-color('success');
    }
  }

  @include form-validation-state-selector('invalid') {
    border-color: get-contrasting-color('danger');

    ~ .form-check-label {
      color: get-contrasting-color('danger');
    }

    &:checked {
      border-color: get-contrasting-color('danger');
      background-color: get-contrasting-color('danger');
    }

    &:focus {
      box-shadow: 0 0 0 $input-focus-width
        set-contrasting-color-alpha('danger', 0.25);
    }

    &:not(:checked) {
      border-color: get-contrasting-color('danger');
    }
  }
}
