.list-group-item {
  @include with-contrasting-colors($list-group-bg);

  @include on-inverted-color-scheme {
    background-color: $list-group-bg-inverted;

    @include with-contrasting-colors($list-group-bg-inverted);
  }
}

@each $color-name, $color-value in $theme-colors {
  $bg-color: shift-color(
    get-theme-color($color-name),
    $list-group-item-bg-scale
  );
  $color: shift-color(
    get-contrasting-color-absolute-value($bg-color, 'body'),
    $list-group-item-color-scale
  );

  @include list-group-item-variant($color-name, $bg-color, $color);

  @include on-inverted-color-scheme {
    $bg-color-inverted: shift-color(
      get-inverted-theme-color($color-name),
      $list-group-item-bg-scale-inverted
    );
    $color-inverted: shift-color(
      get-contrasting-color-absolute-value($bg-color-inverted, 'body'),
      $list-group-item-color-scale-inverted
    );

    @include list-group-item-variant(
      $color-name,
      $bg-color-inverted,
      $color-inverted
    );
  }
}
