.nav-link {
  .icon {
    margin-right: map-get($map: $spacers, $key: 1);
  }
}

.nav-link {
  &:not(a[href]) {
    @extend .text-link;
    text-decoration: none !important;
  }
}

.nav:not(.nav-pills) {
  .active {
    background-color: $selected-bg;
  }
}
