.nav-link {
  .icon {
    margin-right: map-get($map: $spacers, $key: 1);
  }
}

.navbar-nav,
.nav:not(.nav-pills),
.nav:not(.nav-tabs) {
  .nav-link {
    &:not(a[href]) {
      @extend .text-link;
      text-decoration: none !important;
    }

    &.active {
      background-color: $selected-bg;
    }
  }
}
