body {
  @include with-contrasting-colors($body-bg);

  @include on-inverted-color-scheme {
    background-color: $body-bg-inverted;
    @include with-contrasting-colors($body-bg-inverted);
  }
}

html,
body {
  font-size: 16px;
}

pre {
  code {
    color: $code-color;
  }
}
