body {
  @include on-inverted-color-scheme {
    background-color: $body-bg-inverted;
    @include with-contrasting-colors($body-bg-inverted);
  }
}

html,
body {
  font-size: 16px;
}

*:disabled,
*.disabled {
  cursor: not-allowed;
  text-decoration: line-through;

  opacity: 0.5;
  filter: grayscale(100%);

  pointer-events: none;
}
