@import 'src/components/ui-kit/global-styles/load';
@import 'node_modules/bootstrap/scss/close';
.btn-close {
  background-image: none;
  padding: 0;

  &::after {
    content: '\2715';
    font-size: $btn-close-width;
    position: relative;
    top: calc($btn-close-width / -4);
  }
}
