@import 'src/components/ui-kit/global-styles/variables';
@import 'src/components/ui-kit/global-styles/_load-all-functions-and-mixins';
@import 'node_modules/bootstrap/scss/forms';

.valid-feedback {
  color: get-contrasting-color('success');
}

.invalid-feedback {
  color: get-contrasting-color('danger');
}

.form-control {
  &:disabled {
    color: set-contrasting-color-alpha('body', $text-muted-opacity);
  }

  @include form-validation-state-selector('valid') {
    border-color: get-contrasting-color('success');

    &:focus {
      border-color: get-contrasting-color('success');
      box-shadow: 0 0 0 $input-focus-width
        set-contrasting-color-alpha('success', 0.25);
    }
  }

  @include form-validation-state-selector('invalid') {
    border-color: get-contrasting-color('danger');

    &:focus {
      border-color: get-contrasting-color('danger');
      box-shadow: 0 0 0 $input-focus-width
        set-contrasting-color-alpha('danger', 0.25);
    }
  }

  &::file-selector-button {
    @include with-contrasting-colors($form-file-button-bg);
  }

  &::-webkit-file-upload-button {
    @include with-contrasting-colors($form-file-button-bg);
  }

  &:disabled,
  &[readonly] {
    &::file-selector-button,
    &::-webkit-file-upload-button {
      text-decoration: line-through;
    }
  }
}

.form-select {
  &:disabled {
    color: set-contrasting-color-alpha('body', $text-muted-opacity);
  }

  @include form-validation-state-selector('valid') {
    border-color: get-contrasting-color('success');

    &:focus {
      border-color: get-contrasting-color('success');
      box-shadow: 0 0 0 $input-focus-width
        set-contrasting-color-alpha('success', 0.25);
    }
  }

  @include form-validation-state-selector('invalid') {
    border-color: get-contrasting-color('danger');

    &:focus {
      border-color: get-contrasting-color('danger');
      box-shadow: 0 0 0 $input-focus-width
        set-contrasting-color-alpha('danger', 0.25);
    }
  }
}

.form-check-input {
  @include form-validation-state-selector('valid') {
    border-color: get-contrasting-color('success');

    ~ .form-check-label {
      color: get-contrasting-color('success');
    }

    &:checked {
      border-color: get-contrasting-color('success');
      background-color: get-contrasting-color('success');
    }

    &:focus {
      box-shadow: 0 0 0 $input-focus-width
        set-contrasting-color-alpha('success', 0.25);
    }

    &:not(:checked) {
      border-color: get-contrasting-color('success');
    }
  }

  @include form-validation-state-selector('invalid') {
    border-color: get-contrasting-color('danger');

    ~ .form-check-label {
      color: get-contrasting-color('danger');
    }

    &:checked {
      border-color: get-contrasting-color('danger');
      background-color: get-contrasting-color('danger');
    }

    &:focus {
      box-shadow: 0 0 0 $input-focus-width
        set-contrasting-color-alpha('danger', 0.25);
    }

    &:not(:checked) {
      border-color: get-contrasting-color('danger');
    }
  }
}

.form-floating {
  label {
    color: $input-color;
  }
}
