@import 'src/components/ui-kit/global-styles/variables';

$headings-margin-bottom: $spacer;
$headings-font-weight: 700;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;

$display1-size: $h1-font-size;
$display2-size: $h2-font-size;
$display3-size: $h3-font-size;
$display4-size: $h4-font-size;

$stripe-width-lg: 0.5rem;

$hr-border-width: 1px;
$hr-border-color: set-contrasting-color-alpha('body', 0.3);

$spinner-width-lg: 3rem;
$spinner-height-lg: 3rem;
$spinner-border-width-lg: 0.3em;

$navbar-bg: $body-bg;
$navbar-bg-inverted: $body-bg-inverted;

$navbar-dark-toggler-icon: none;

$navbar-dark-toggler-icon-bg: $navbar-dark-toggler-icon;
$navbar-light-toggler-icon-bg: $navbar-dark-toggler-icon;

$navbar-dark-toggler-border-color: $border-color;
$navbar-light-toggler-border-color: $border-color;

$navbar-dark-color: get-contrasting-color('body');
$navbar-light-color: get-contrasting-color('body');

@import 'node_modules/bootstrap/scss/bootstrap';

@import 'src/components/ui-kit/global-styles/additional-mixins/contrasting-colors-mixins';
@import 'src/components/ui-kit/global-styles/additional-mixins/inverted-color-scheme-mixins';

@import 'src/components/ui-kit/global-styles/root';

@import 'src/components/ui-kit/global-styles/reboot';
@import 'src/components/ui-kit/global-styles/type';
@import 'src/components/ui-kit/global-styles/grid';
@import 'src/components/ui-kit/global-styles/buttons';
@import 'src/components/ui-kit/global-styles/card';
@import 'src/components/ui-kit/global-styles/nav';
@import 'src/components/ui-kit/global-styles/navbar';
@import 'src/components/ui-kit/global-styles/progress';
@import 'src/components/ui-kit/global-styles/utilities/background';
@import 'src/components/ui-kit/global-styles/utilities/text';

@import 'src/components/ui-kit/global-styles/additional-components/icon';

@import 'src/components/ui-kit/global-styles/additional-modifiers/text-modifiers';
@import 'src/components/ui-kit/global-styles/additional-modifiers/card-modifiers';
@import 'src/components/ui-kit/global-styles/additional-modifiers/spinners-modifiers';
@import 'src/components/ui-kit/global-styles/additional-modifiers/navbar-modifiers';
@import 'src/components/ui-kit/global-styles/additional-modifiers/selectable-modifiers';

@import 'src/components/ui-kit/global-styles/additional-utilities/background-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/text-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/link-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/shadows-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/text-shadows-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/stripes-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/cursor-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/user-select-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/pointer-events-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/opacity-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/z-index-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/overflow-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/size-utilities';
