@import 'src/components/ui-kit/global-styles/variables';

/*
  KEEP THESE CONTRASTING COLORS IMPORTS ON TOP,
  RIGHT AFTER VARIABLES

  These modifiers change the color of the text,
  in order to have text contrasting with the background automatically,
  in case the component itself hasn't set it already.

  To avoid style conflicts, we must keep this import on top,
  so the component's styles can be declared below these modifiers in the final CSS,
  overriding the default colors from these modifiers
*/
@import 'src/components/ui-kit/global-styles/additional-mixins/contrasting-colors-mixins';
@import 'src/components/ui-kit/global-styles/additional-modifiers/contrasting-colors-modifiers';
/* --- */

$component-active-color: get-contrasting-color-absolute-value(
  $component-active-bg,
  'body'
);

$stripe-width-lg: 0.5rem;

$hr-border-width: 1px;
$hr-border-color: set-contrasting-color-alpha('body', 0.3);

$spinner-width-lg: 3rem;
$spinner-height-lg: 3rem;
$spinner-border-width-lg: 0.3em;

$navbar-bg: $body-bg;
$navbar-bg-inverted: $body-bg-inverted;

$navbar-padding-y: map-get($spacers, 2);
$navbar-toggler-padding-y: map-get($spacers, 2);
$navbar-toggler-padding-x: map-get($spacers, 3);

$navbar-dark-color: get-contrasting-color('body');
$navbar-dark-hover-color: get-contrasting-color('body-hover');
$navbar-dark-active-color: get-contrasting-color('body-hover');
$navbar-dark-disabled-color: set-contrasting-color-alpha(
  'body',
  $text-muted-opacity
);
$navbar-dark-toggler-icon-bg: none;
$navbar-dark-toggler-border-color: $border-color;

$navbar-light-color: get-contrasting-color('body');
$navbar-light-hover-color: get-contrasting-color('body-hover');
$navbar-light-active-color: get-contrasting-color('body-hover');
$navbar-light-disabled-color: set-contrasting-color-alpha(
  'body',
  $text-muted-opacity
);
$navbar-light-toggler-icon-bg: none;
$navbar-light-toggler-border-color: $border-color;

$navbar-light-brand-color: get-contrasting-color('body');
$navbar-light-brand-hover-color: get-contrasting-color('body-hover');
$navbar-dark-brand-color: get-contrasting-color('body');
$navbar-dark-brand-hover-color: get-contrasting-color('body-hover');

$input-btn-focus-color-opacity: 0.25;
$input-btn-focus-color: set-contrasting-color-alpha(
  'primary',
  $input-btn-focus-color-opacity
);
$input-focus-border-color: get-contrasting-color('primary');

$list-group-color: get-contrasting-color('body');
$list-group-bg: $body-bg;
$list-group-bg-inverted: $body-bg-inverted;
$list-group-border-color: set-contrasting-color-alpha('body', 0.125);

$list-group-hover-bg: null;
@if (is-color-dark($list-group-bg)) {
  $list-group-hover-bg: lighten($list-group-bg, 15);
} @else {
  $list-group-hover-bg: darken($list-group-bg, 15);
}

$list-group-disabled-color: set-contrasting-color-alpha(
  'body',
  $text-muted-opacity
);
$list-group-disabled-bg: $list-group-bg;

$list-group-action-color: get-contrasting-color('body');
$list-group-action-hover-color: get-contrasting-color('body');

$list-group-action-active-color: $component-active-color;
$list-group-action-active-bg: $component-active-bg;

@import 'node_modules/bootstrap/scss/bootstrap';

/* --- */

@import 'src/components/ui-kit/global-styles/additional-mixins/inverted-color-scheme-mixins';

/* --- */

@import 'src/components/ui-kit/global-styles/root';
@import 'src/components/ui-kit/global-styles/reboot';
@import 'src/components/ui-kit/global-styles/type';
@import 'src/components/ui-kit/global-styles/buttons';
@import 'src/components/ui-kit/global-styles/card';
@import 'src/components/ui-kit/global-styles/nav';
@import 'src/components/ui-kit/global-styles/navbar';
@import 'src/components/ui-kit/global-styles/progress';
@import 'src/components/ui-kit/global-styles/forms';
@import 'src/components/ui-kit/global-styles/list-group';

@import 'src/components/ui-kit/global-styles/additional-components/icon';

/* --- */

@import 'src/components/ui-kit/global-styles/additional-modifiers/text-modifiers';
@import 'src/components/ui-kit/global-styles/additional-modifiers/card-modifiers';
@import 'src/components/ui-kit/global-styles/additional-modifiers/spinners-modifiers';
@import 'src/components/ui-kit/global-styles/additional-modifiers/navbar-modifiers';
@import 'src/components/ui-kit/global-styles/additional-modifiers/selectable-modifiers';

/* --- */

@import 'src/components/ui-kit/global-styles/utilities/background';
@import 'src/components/ui-kit/global-styles/utilities/text';

@import 'src/components/ui-kit/global-styles/additional-utilities/background-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/text-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/link-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/shadows-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/text-shadows-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/stripes-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/user-select-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/opacity-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/z-index-utilities';
@import 'src/components/ui-kit/global-styles/additional-utilities/size-utilities';
