@import 'variables';
@import 'setup-bootstrap';
@import 'node_modules/bootstrap/scss/list-group';
@import 'contrasting-colors-mixins';
@import 'inverted-color-scheme-mixins';

.list-group-item.active {
  @include with-contrasting-colors($list-group-action-active-bg);
}

@each $color-name, $color-value in $theme-colors {
  $bg-color: shift-color(
    get-theme-color($color-name),
    $list-group-item-bg-scale
  );
  $color: shift-color(
    get-contrasting-color-absolute-value($bg-color, $color-name),
    $list-group-item-color-scale
  );

  @include list-group-item-variant($color-name, $bg-color, $color);

  .list-group-item-#{$color-name} {
    @include with-contrasting-colors($bg-color);
  }
  .list-group-item-#{$color-name}.list-group-item-action.active {
    @include with-contrasting-colors($color);
  }

  @include on-inverted-color-scheme {
    $bg-color-inverted: shift-color(
      get-inverted-theme-color($color-name),
      $list-group-item-bg-scale-inverted
    );
    $color-inverted: shift-color(
      get-contrasting-color-absolute-value($bg-color-inverted, $color-name),
      $list-group-item-color-scale-inverted
    );

    @include list-group-item-variant(
      $color-name,
      $bg-color-inverted,
      $color-inverted
    );

    .list-group-item-#{$color-name} {
      @include with-contrasting-colors($bg-color-inverted);
    }
    .list-group-item-#{$color-name}.list-group-item-action.active {
      @include with-contrasting-colors($color-inverted);
    }
  }
}
