@import 'variables';
@import 'setup-bootstrap';
@import 'node_modules/bootstrap/scss/spinners';

.spinner-border {
  font-size: $font-size-base;
  vertical-align: -0.35em;

  &.spinner-border-sm {
    vertical-align: $spinner-vertical-align;
  }
}

.spinner-grow {
  font-size: $font-size-base;
  vertical-align: -0.35em;

  &.spinner-grow-sm {
    vertical-align: $spinner-vertical-align;
  }
}
