@import 'src/components/ui-kit/global-styles/load';
@import 'node_modules/bootstrap/scss/type';

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  color: get-contrasting-color('primary');
}

small,
.small {
  font-weight: inherit;
}
