@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .icon#{$infix}-inherit {
      font-size: inherit !important;
    }

    .icon#{$infix}-thumbnail {
      font-size: 3rem !important;
    }
  }
}
