@each $color, $value in $theme-colors {
  .text-#{$color} {
    color: get-contrasting-color($color) !important;
  }

  a.text-#{$color}:not(.btn) {
    color: get-contrasting-color($color) !important;

    @include hover-focus() {
      color: get-contrasting-color(#{$color}-hover) !important;
    }
  }
}
