$colors: join(
  $theme-colors,
  (
    'body': $body-bg,
  )
);

@each $color, $value in $colors {
  .text-#{$color} {
    color: get-contrasting-color($color) !important;
  }

  a.text-#{$color}:not(.btn) {
    color: get-contrasting-color($color) !important;

    &:hover,
    &:focus {
      color: get-contrasting-color(#{$color}-hover) !important;
    }
  }
}
