$yiq-contrasted-threshold: 150;

@function is-color-dark($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= $yiq-contrasted-threshold) {
    @return false;
  } @else {
    @if (opacity($color) >= 0.5) {
      @return true;
    } @else {
      @return false;
    }
  }
}
